<div class="name-title">
    <h1>Xinyi Liu</h1>
</div>
<h2>About me</h2>

<p>
    Greetings! I am Xinyi Liu, currently pursuing my graduate studies at the Cockrell Engineering School,
    University of Texas at Austin. I have the privilege of being co-advised by
    <a href="https://www.cs.utexas.edu/~pstone/">Prof. Peter Stone</a> and
    <a href="https://qianwen.info/">Prof. Qianwen Wang</a>.
    My core research revolves around interactive visualization/VR and human-centered AI.
</p>
<p>
    In the summer of 2023, I undertook the role of a post-graduate HCI researcher at the
    <a href="https://dbmi.hms.harvard.edu/people/nils-gehlenborg">Nil Gehlenborg</a> Lab, Harvard Medical School.
    Additional details about me can be found on the <a href="https://hidivelab.org/team/members/xinyi-liu/">lab's
        official website</a>.
    I completed my undergraduate degrees in Computer Science & Economics at the University of Maryland in Spring 2022,
    where I was lucky to be advised by <a href="https://www.zcliu.org/">Prof. Zhicheng Liu</a> and published a paper at
    IEEE VIS 2022.
</p>
<blockquote>
    <span style="color:#dd7694; font-weight:bold; font-style:italic;">Eager to collaborate?</span> I've always believed
    in the beauty of "visualization as the marriage between science and art." This sentiment is deeply rooted in my
    drive to
    draw research inspirations from everyday life. My ultimate aspiration is for my research to yield tangible benefits,
    enhancing people's lives in meaningful ways. Currently, I'm diving deep into the realm of interactive visualization
    in
    virtual reality and nuances of explainable machine learning. Although my primary focus areas include healthcare,
    gaming, urban development, and food, I'm innately curious and always on the lookout to explore new horizons.
    Life, for me, is a rich tapestry of experiences waiting to be savored. If our interests align and you're keen to
    collaborate, please don't hesitate to <a href="mailto:xinyi.liu@utexas.edu">drop me an email</a>
</blockquote>
<blockquote>
    <span style="color:#dd7694; font-weight:bold; font-style:italic;">Applying for CS/HCI/IS Ph.D. starting at Fall 2024
        !</span>
    If you feel I might be a good fit for your team or project, please <a href="mailto:xinyi.liu@utexas.edu">drop me an
        email</a> –
    I'd love to chat. Even if our paths don't perfectly align right now, I'm always eager to connect and learn from
    like-minded
    individuals. Let's stay in touch!
</blockquote>

<h2>Research Interests & Publications</h2>

<div class="venn-container">
    <svg width="" height="400" xmlns="http://www.w3.org/2000/svg" class="venn-diagram">
        <!-- Circles for Venn Diagram -->


        <!-- Social Computing (blue) -->
        <circle cx="300" cy="150" r="100" fill="#a2d2e2" fill-opacity="0.5" />
        <text x="300" y="140" font-family="Open Sans, sans-serif" font-size="22" fill="#a67eb7"
            text-anchor="middle" font-weight="bold">Social</text>
        <text x="300" y="160" font-family="Open Sans, sans-serif" font-size="22" fill="#a67eb7"
            text-anchor="middle" font-weight="bold">Computing</text>

        <!-- Machine Learning (pink) -->
        <circle cx="235" cy="275" r="100" fill="pink" fill-opacity="0.5" />
        <text x="215" y="265" font-family="Open Sans, sans-serif" font-size="22" fill="#a67eb7"
            text-anchor="middle" font-weight="bold">Machine</text>
        <text x="215" y="295" font-family="Open Sans, sans-serif" font-size="22" fill="#a67eb7"
            text-anchor="middle" font-weight="bold">Learning</text>

        <!-- Data Visualization (yellow) -->
        <circle cx="385" cy="275" r="100" fill="#fff799" fill-opacity="0.5" />
        <text x="385" y="265" font-family="Open Sans, sans-serif" font-size="22" fill="#a67eb7"
            text-anchor="middle" font-weight="bold">Data</text>
        <text x="335" y="295" font-family="Open Sans, sans-serif" font-size="22" fill="#a67eb7"
            font-weight="bold">Visualization</text>

        


        <!-- Project Names with colored circles -->
        <!-- IEEE VIS 2024 -->
        <circle cx="10" cy="80" r="10" fill="#ffe6aa" />
        <text x="30" y="80" font-family="Open Sans, sans-serif" font-size="14">IEEE VIS 2024</text>

        <!-- IEEE VIS 2022 -->
        <circle cx="10" cy="150" r="10" fill="#fff799" />
        <text x="30" y="150" font-family="Open Sans, sans-serif" font-size="14">IEEE VIS 2022</text>

        <!-- CSCW 2024 -->
        <circle cx="10" cy="220" r="10" fill="#a2d2e2" />
        <text x="30" y="220" font-family="Open Sans, sans-serif" font-size="14">CSCW 2024</text>

        <!-- UT Austin GRA Fall 2023 -->
        <circle cx="10" cy="290" r="10" fill="#e8d4de" />
        <text x="30" y="290" font-family="Open Sans, sans-serif" font-size="14">UT Austin GRA</text>
        <text x="30" y="305" font-family="Open Sans, sans-serif" font-size="14">Fall 2023</text>

        <!-- UT Austin GRA Fall 2022 -->
        <circle cx="10" cy="360" r="10" fill="pink" />
        <text x="30" y="360" font-family="Open Sans, sans-serif" font-size="14">UT Austin GRA</text>
        <text x="30" y="375" font-family="Open Sans, sans-serif" font-size="14">Fall 2022</text>
        <!-- ACM CHI 2024 (1)-->
        <circle cx="500" cy="80" r="10" fill="#f4e1a7" />
        <text x="520" y="80" font-family="Open Sans, sans-serif" font-size="14">ACM CHI 2024</text>
        <text x="610" y="68" font-family="Open Sans, sans-serif" font-size="10" font-weight="bold">(1)</text>

        <!-- ACM CHI 2024 (2)-->
        <circle cx="500" cy="150" r="10" fill="#fff799" />
        <text x="520" y="150" font-family="Open Sans, sans-serif" font-size="14">ACM CHI 2024</text>
        <text x="610" y="138" font-family="Open Sans, sans-serif" font-size="10" font-weight="bold">(2)</text>

        <!-- Euro Vis 2024-->
        <circle cx="500" cy="220" r="10" fill="#fff799" />
        <text x="520" y="220" font-family="Open Sans, sans-serif" font-size="14">Euro Vis 2024</text>

        <!-- IDC 2024-->
        <circle cx="500" cy="290" r="10" fill="#e8d4de" />
        <text x="520" y="290" font-family="Open Sans, sans-serif" font-size="14">IDC 2024</text>

        <!-- NLP 2021-->
        <circle cx="500" cy="360" r="10" fill="#a2d2e2" />
        <text x="520" y="360" font-family="Open Sans, sans-serif" font-size="14">NLP 2021</text>



    </svg>
</div>