<!-- news.html -->

<!-- User Image -->
<div style="text-align:center; margin-bottom:20px;">
    <!-- Adjust the container dimensions for the image -->
    <div style="width:120px; height:150px; overflow:hidden; border-radius: 50%; margin: 0 auto;border: 10px solid #ecf0f1">
        <img src="/images/white_bg.png" alt="Your Image Description" style="width:100%; height:100%; object-fit: cover; object-position: center top;"> 
    </div>

    <!-- Social links -->
    <div style="text-align:center; margin-top:10px;">
        <a href="https://www.linkedin.com/in/liu-xy/" target="_blank">
            <img src="/images/linkedin.png" alt="LinkedIn Icon" style="width:32px; height:32px; margin-right:10px;">
        </a>
        <a href="https://github.com/xliu1217" target="_blank">
            <img src="/images/github.png" alt="GitHub Icon" style="width:32px; height:32px;">
        </a>
        <a href="/images/CV_Xinyi.pdf" target="_blank">
            <img src="/images/cv.png" alt="GitHub Icon" style="width:32px; height:32px;">
        </a>
        <a href="mailto:xinyi.liu@utexas.edu" target="_blank">
            <img src="/images/email.png" alt="GitHub Icon" style="width:32px; height:32px;">
        </a>
    </div>
</div>

<section id="news-section" style="height: auto; overflow-y: auto; border-right: 1px solid #ccc;">
    <h2>News</h2>
    <ul>
        <li><strong>Sep 2023:</strong> <strong>Submitted</strong> two papers to <strong>ACM CHI 2024</strong>; served as <strong>first-author</strong> for one and <strong>second author</strong> for the other.</li>
        <li><strong>Sep 2023:</strong> <strong>Began</strong> my role as a graduate research assistant in <strong>machine learning and data science</strong> at <strong>UT Austin</strong>.</li>
        <li><strong>July 2023:</strong> <strong>Received</strong> recognition for excellent performance as a student volunteer at <strong>ACM CUI 2023</strong>.</li>
        <li><strong>July 2023:</strong> Volunteered at <strong>ACM DIS 2023</strong>.</li>
        <li><strong>July 2023:</strong> <strong>Invited</strong> to the exclusive <strong>Hewlett-Packard & NVIDIA Data Science Summit</strong> in Arlington.</li>
        <li><strong>June 2023:</strong> Started the role of post-graduate HCI researcher in <strong>Nils Gehlenborg lab</strong> at <strong>Harvard</strong>.</li>
        <li><strong>November 2023:</strong> <strong>Presented</strong> my research poster at a summit by <strong>MD Anderson & Dell Medical School of UT Austin</strong>.</li>
        <li><strong>Sep 2022:</strong> <strong>Began</strong> as a graduate research assistant in <strong>AI Health</strong> at the <strong>Computer Science department of UT Austin</strong>.</li>
        <li><strong>July 2022:</strong> Our <a href="https://ieeexplore.ieee.org/stamp/stamp.jsp?tp=&arnumber=9903579">paper</a> was <strong>strongly accepted</strong> by <strong>IEEE VIS 2022</strong>!</li>
        <li><strong>Sep 2021:</strong> <strong>Joined</strong> the <a href="https://hdi.cs.umd.edu/team/"><strong>Human-Data Interaction lab</strong></a> as an undergraduate research assistant at the <strong>University of Maryland</strong>, advised by Prof. <strong>Zhicheng Li</strong>.</li>
    </ul>
</section>
